.card {
  padding: 15px;
  border-radius: 6px;
  background: #ffffff;
  transition: all 500ms ease-in-out;
  // margin-right: 1%;
  text-decoration: none;
  color: #00394d;
  max-width: 33.3%;
  flex: 0 30.3%;
  margin-bottom: 20px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  @media screen and (max-width: 768px) {
    max-width: 50%;
    flex: 0 1 45%;
  }
  @media screen and (max-width: 426px) {
    max-width: 100%;
    flex: 0 1 100%;
  }
  a {
    text-decoration: none;
    color: unset;
  }
  .card_title {
    display: flex;
    align-items: baseline;
    margin-bottom: 35px;

    img {
      margin-right: 10px;
      height: 50px;
      border-radius: 50%;
      transform-origin: bottom right;
      transition: all 300ms ease-in-out;
    }

    .card_title__item {
      margin-bottom: 0;
      * {
        margin-bottom: 0;
      }
    }
  }

  .card__action {
    a.cta {
      border: solid 1px #f94f00;
      padding: 10px;
      background: transparent;
      text-decoration: none;
      border-radius: 6px;
      color: #f94f00;
      transition: all 300ms ease-in-out;
      // margin: auto;
      width: fit-content;
      display: block;
    }
  }

  // hover on card styles..
  &:hover {
    background: #00394d;
    color: #ffffff;

    .card_title {
      img {
        border-radius: 6px;
      }
    }
  }
}
