.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;

  .search__title {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 0;

    .search__title__text {
      margin-left: 20px;
      h3,
      p {
        margin: 0;
      }
      p {
        color: #7b7b7c;
      }
    }
  }

  .search__form {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    width: 40vw;

    .input-control {
      color: #7b7b7c;
      &:focus {
        outline: none;
      }
    }

    input {
      width: 50%;
      margin-right: 10px;
      line-height: 40px;
      height: 26px;
      padding: 5px;
      border: 1px solid #c8c8c8;
      background: transparent;
    }

    select {
      width: 30%;
      line-height: 40px;
      height: 40px;
      padding: 5px;
      border: 1px solid #c8c8c8;
      background: transparent;
    }
  }
}
