.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: inherit;
  margin: 20px 10px;

  .search__title {
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    img.search__tilte__image {
      width: auto;
      height: 45px;
    }

    .search__title__text {
      margin-left: 10px;

      * {
        margin: 0;
      }

      p {
        color: #a3a3a3;
      }
    }
  }

  .search__form {
    &:first-child {
      margin-right: 10px;
    }
    .input-control {
      padding: 10px;
      border: 1px solid #a3a3a3;
      background: #ffffff;

      &:focus {
        outline: none;
      }
    }

    // input {
    //   width: 50%;
    //   max-width: 355px;
    // }
  }
}
